# Ignore node_modules
node_modules/

# Ignore dist directory (thư mục build)
dist/

# Ignore Docker compose file
docker-compose.yml

# Ignore environment files containing secrets
.env
Backend/.env

# Ignore service account key file
Backend/src/config/serviceAccountKey.json
